﻿@model CoCar.Models.AddMoveViewModel
@{
    ViewBag.Title = "Ajouter un trajet";


<h2>@ViewBag.Title.</h2>

    var membre = Session["user"] as CoCarLib.Models.Membre;
    if (membre != null)
    {
        using (Html.BeginForm("AddMove", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Ajouter un trajet à vos trajets pour trajetter avec d'autre trajetteur !</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Move.Date, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Move.Date, new { @class = "form-control", @placeholder = "xx/xx/xxxx xx:xx:xx" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Move.PcStart, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Move.PcStart, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Move.PcEnd, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Move.PcEnd, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Move.NbPassenger, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Move.NbPassenger, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Move.Prix, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Move.Prix, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Créer le trajet" />
                </div>
            </div>
        }
    }
    else
    {
        Response.Redirect("Login");
    }



}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
