﻿@model CoCar.Models.HomeViewModel

@{
    ViewBag.Title = "Accueil";
    
}

<div class="jumbotron">
    <h1>CoCar</h1>
    <h3>La solution pour tous vos déplacements !</h3>
</div>

<h2>Voici les differents trajets disponibles :</h2>

<div class="row">
    @foreach (CoCarLib.Models.Move move in CoCarLib.Models.EFInterface.getAllMoves())
    {
        <div class="col-md-4">
            <h2>@move.Date.ToString("dd/MM/yyyy HH"):@move.Date.ToString("mm")</h2>
            <p>
                De @move.PcStart à @move.PcEnd, il reste @(move.NbPassenger - move.Passengers.Count) place(s) sur @move.NbPassenger. Prix : @move.Prix €
            </p>
            <p><a href="Home/Move?trajet=@move.Id", class="btn btn-default">Voir plus &raquo;</a></p>
        </div>
    }
</div>