﻿@model CoCar.Models.MoveViewModel
@{
    ViewBag.Title = "Trajet";

    string id = Request.Params["trajet"];

    if (id == null)
    {
        Response.Redirect("Login");
    }
    else
    {
        CoCarLib.Models.Move move = CoCarLib.Models.EFInterface.getMoveById(Int32.Parse(id));
        Session["movetmp"] = move;
        
        using (Html.BeginForm("Move", "Home", FormMethod.Post))
        {
            <h2>Trajet de @move.PcStart à @move.PcEnd</h2>
            <h3>Le @move.Date.ToString("dddd dd MMMM yyyy", new System.Globalization.CultureInfo("fr-FR")) à @move.Date.Hour h @move.Date.Minute</h3>
            <h3>Conducteur : @move.Driver.Login (@move.Driver.Name @move.Driver.Surname)</h3>
            <h3>Nombre de places restantes : @(move.NbPassenger - move.Passengers.Count)/@move.NbPassenger</h3>
            <h3>Prix : @move.Prix €</h3>

            if (@move.Passengers.Count != 0)
            {
                <h3>Passager :</h3>
            }
            
            foreach (CoCarLib.Models.Membre membre in @move.Passengers)
            {
                <p>@membre.Login (@membre.Name @membre.Surname)</p>
            }

            if (move.NbPassenger - move.Passengers.Count > 0 && Session["user"] != null && CoCarLib.Models.EFInterface.isMembreInMove(Session["user"] as CoCarLib.Models.Membre, move))
            {
                <div class="form-group">
                    <h4><input type="submit" value="Participer à ce voyage" class="btn btn-default" /> Attention, c'est définitif !!</h4>
                </div>
            }
        }
    }
}







