﻿@{
    ViewBag.Title = "Mes Trajets";
}
<h2>@ViewBag.Title.</h2>

@{
    var membre = Session["user"] as CoCarLib.Models.Membre;

    if (membre != null)
    {
        double xPos = 0;
        double xNeg = 0;
        
        <div class="row">
            @foreach (CoCarLib.Models.Move move in CoCarLib.Models.EFInterface.getMovesByMembre(membre))
            {
                <div class="col-md-4">
                    <h2>@move.Date.ToString("dd/MM/yyyy HH"):@move.Date.ToString("mm")</h2>
                    <p> De @move.PcStart à @move.PcEnd, il reste @(move.NbPassenger - move.Passengers.Count) place(s) sur @move.NbPassenger. Prix : @move.Prix € </p>
                    <p><a href="Move?trajet=@move.Id" , class="btn btn-default">Voir plus &raquo;</a></p>
                </div>
                
                if (move.Driver.Email == membre.Email)
                {
                    xPos += move.Prix * move.Passengers.Count;
                }
                else
                {
                    xNeg += move.Prix;
                }
            }
        </div>
        <h3>Compte total :</h3>
        <p>Il vous faut @xNeg € pour payer tous vos trajets en temps que passager.</p>
        <p>Vous gagnerez @xPos € pour vos trajets en temps que conducteur.</p>
    }
    else
    {
        <p> @Html.ActionLink("Il faut vous connecter pour avoir des trajets.", "Login", "Home") </p>
    }
}
