﻿@model CoCar.Models.ResearchViewModel

@{
    ViewBag.Title = "Recherche";
}

<h2>@ViewBag.Title.</h2>
<div class="raw">
    @using (Html.BeginForm("Research", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Start, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Start, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.End, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.End, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Date, "{0:MM/dd/yyyy}", new { @class = "form-control", @placeholder = "xx/xx/xxxx"})
            </div>
        </div><br>

        <div class="form-group">
            <input type="submit" value="Rechercher" class="btn btn-default" />
        </div>
    }

    <div class="row">

        @foreach (CoCarLib.Models.Move move in CoCarLib.Models.EFInterface.getResearchedMoves(Model.Start, Model.End, Model.Date))
        {
            <div class="col-md-4">
                <h2>@move.Date.ToString("dd/MM/yyyy HH"):@move.Date.ToString("mm")</h2>
                <p>
                    De @move.PcStart à @move.PcEnd, il reste @(move.NbPassenger - move.Passengers.Count) place(s) sur @move.NbPassenger. Prix : @move.Prix €
                </p>
                <p><a href="Move?trajet=@move.Id" , class="btn btn-default">Voir plus &raquo;</a></p>
            </div>
        }
    </div>
</div>
