﻿@using Microsoft.AspNet.Identity

@{
    var membre = Session["user"] as CoCarLib.Models.Membre;
    if (membre != null)
    {
        String membrePseudo = membre.Login;
        
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Salutation " + membrePseudo + " !", "MyMove", "Home")</li>
            <li>@Html.ActionLink("Déconnection", "Logout", "Home")</li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Inscription", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Se connecter", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
}
